.page{
    background-color: #2D7FF9;

}

.pageContent{
    background-color: #2D7FF9;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageContent .text span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}