.screen{
    background-color: #ffffff;
}

.screenContent{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.screenContent .skip{
    margin-top: 2rem;
}

.screenContent .skip span{
    position: relative;
    left: 85%;
}

.screenContent .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 95%;
}

.screenContent .content .texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.screenContent .content .texts .title{
    font-weight: 400;
    font-size: 1.6rem;
    color: #2D7FF9;
    text-align: center;
}

.screenContent .content .texts .subtitle{
    font-weight: 400;
    font-size: 1rem;
    color: #696363;
    text-align: center;
}

.button{
    margin-top: 4rem;
}

.button span{
    color: #ffffff;
    background-color: #2D7FF9;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    padding: .8rem 8rem;
    border-radius: 5px;

}