.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.signupContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.header .heading{
    font-size: 1.5rem;
    font-weight: 500;
    color: #4d4d4d;
}

.header .subheading{
    font-size: 1.1rem;
    font-weight: 400;
    color: #4d4d4d;
}

.inputFields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.inputFields .field{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.field label{
    font-size: 1rem;
    color: #4d4d4d;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: #2d7ff908;
}

.submitButton{
    margin-top: 2rem;
}

.submitButton span{
    background-color: #2D7FF9;
    color: #ffffff;
    font-size: .8rem;
    padding: .8rem 7.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.separator{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    margin-top: 2rem;
}

.separator span{
    font-size: 1rem;
    color: #4d4d4d;
}

.short-line {
    flex: 1;
    height: 1px;
    background-color: black;
    border: none;
    width: 40px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icons span .googleImg{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginOption{
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.loginOption span{
    font-size: 1rem;
}

